SPOTIFY_CLIENT_ID =
SPOTIFY_SECRET =

NEXTAUTH_SECRET = Generate with openssl rand -base64 32
NEXTAUTH_URL = http://localhost:3000

INTERNAL_API_SECRET= generate with (node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")

NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
