@import "tailwindcss";

@theme {
  --keyframes-shimmer: {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  };
  --animation-shimmer: shimmer 2s linear infinite;
}

:root {
  background-color: #07071a;
}

html {
  scroll-behavior: smooth;
  background-color: #07071a;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
